.assistance_detail
  .content
    = @assist.content
  .tools
    .status
      %abbr.timeago{ :title => @assist.created_at }
      %a{ :href => '#' }
        %i.icons.icons_map
        北京 朝阳
      %a{ :href => joined_assistance_path(@assist.id) }
        %i.icons.icons_person
        = "参与帮忙(#{@assist.helpers_count})"
      %a{ :href => assistance_path(@assist.id) }
        %i.icons.icons_comt
        = "评论(#{@assist.comments_count})"
      - if logged_in? && current_user == @assist.user
        %a{ :href => 'javascript:;' }
          %i.icons.icons_pencil
          编辑        
    .buttons
      - if logged_in? && current_user != @user
        %a.button.helpWhom{ :href => 'javascript:;', :class => current_user.helped?(@assist.id) ? 'gray' : '' }
          = current_user.helped?(@assist.id) ? '已提交帮助' : '帮她一把'

- if logged_in?
  .i_can_help    
    %textarea.form_text{ 'data-assistance_id' => @assist.id } 我能帮你：
    %a.button.submit{ :href => 'javascript:;', :class => current_user.helped?(@assist.id) ? 'gray' : '' } 发送

.participate
  .title
    这些人参与帮忙了
  .helper_list
    - if @helpers.blank?
      %p{ :style => 'color: #999999;', :align => 'center' } 暂时还没有人帮TA...
    - else
      - @helpers.each do |help|
        .helper_single_line
          .avatar
            %a{ :href => user_path(help.user_id) }
              = image_tag help.user.avatar_url(:c), :size => '50x50'
            .message
              - if logged_in? && help.user_id != current_user.id
                = message_link_tag(help.user)
          .info
            %p
              %a.user_name{ :href => user_path(help.user_id) }= "#{help.user.login}:"
              = help.content          
            .bottom_tools
              .status
                %abbr.timeago{ :title => help.created_at }
              - if logged_in? && current_user.id == @assist.user_id
                .buttons
                  %a.button.green.markAsHelpful{ :href => 'javascript:;', 'data-help_id' => help.id, :class => help.helpful ? 'gray' : '' } 对我有用

