.assistance_detail
  .content
    = @assist.content
    .pics
      - unless @assist.attachments.blank?
        - @assist.attachments.each do |attach|
          = image_tag attach.photo_url(:m), 'data-large_url' => attach.photo_url(:l), :class => 'small'

  .tools
    .status
      %abbr.timeago{ :title => @assist.created_at }
      - if @assist.address.present?
        %a{ :title => @assist.address }
          %i.icons.icons_map
          = @assist.address
      %a{ :href => joined_assistance_path(@assist.id) }
        %i.icons.icons_person
        = "参与帮忙(#{@assist.helpers_count})"
      %a{ :href => assistance_path(@assist.id) }
        %i.icons.icons_comt
        = "评论(#{@assist.comments_count})"
      - if current_user == @assist.user        
        %a{ :href => '#' }
          %i.icons.icons_pencil
          编辑        
    .buttons
      - if current_user != @user
        %a.button.helpWhom{ :href => 'javascript:;', :class => current_user.helped?(@assist.id) ? 'gray' : '' }
          = current_user.helped?(@assist.id) ? '已提交帮助' : '帮她一把'

.i_can_help    
  %textarea.form_text{ 'data-assistance_id' => @assist.id } 我能帮你：
  %a.button.submit{ :href => 'javascript:;', :class => current_user.helped?(@assist.id) ? 'gray' : '' } 发送

.participate
  .title
    这些人帮了TA
    %a.action{ :href => joined_assistance_path(@assist.id) } 更多
  .helper_list
    - if @assist_helpers.blank?
      %p{ :style => 'margin: 10px auto; color: #999' } 
        暂时还没有人帮TA...      
    - else
      - @assist_helpers.each do |assist_helper|
        .helper_li
          %a{ :href => user_path(assist_helper.user_id), :title => assist_helper.helpful ? "对#{@user.login}有帮助的" : assist_helper.user.login, :rel => 'tipsy' }
            = image_tag assist_helper.user.avatar_url(:c), :size => '50x50'
          - if assist_helper.helpful
            %i.icons.icons_smile

.comment_panel
  .title
    评论
    %a.action 发表
  .comt_list
    - if @comments.blank?
      %p{ :style => 'margin:10px 10px;' } 暂时没有任何评论...
    - else
      = render :partial => 'comments/comment', :collection => @comments
  = will_paginate @comments, :class => 'digg_pagination'
  .new_comt_form
    %textarea.form_text
    %a.button.postComment{ :href => 'javascript:;', 'data-commentable_id' => @assist.id, 'data-commentable_type' => 'Assistance' } 评论


