- content_for :header_js do
  = javascript_include_tag 'lib/jquery.form'

.user_home
  .new_help_form
    .notice
      有困难，要帮忙？勇敢的写吧！
    .form_panel#newAssistance
      %textarea.form_text{ :name => 'content', 'data-attachment_id' => '' }
      .bottom_tools
        .option
          %a.location{ :href => 'javascript:;' }
            %i.icons.icons_c_map
            %span 地点
        .option     
          %a.uploadImage{ :href => 'javascript:;' }
            %i.icons.icons_img
            %span 上传图片                  
      %a.button.green.submit{ :href => 'javascript:;' } 发布求助

  .attachment_panel.address
    %input.text{ :type => 'text' }
    %a.button.submit{ :href => 'javascript:;' } 确定
    %a.button.gray{ :href => 'javascript:;' } 取消

  .attachment_panel.photo
    = form_tag upload_photo_assistances_path, :multipart => true do
      %input{ :type => 'file', :name => 'photo' }
      %a.button.submit{ :href => 'javascript:;' } 确定
      %a.button.gray{ :href => 'javascript:;' } 取消

  .user_zl_list
    .zl_nav
      %a{ :href => url_for(:type => 'all'), :class => params[:type] == 'all' ? 'current' : '' }
        全部求助      
      %a{ :href => home_path(:type => 'followed'), :class => params[:type] == 'followed' ? 'current' : '' }
        我的关注    
      %a{ :href => url_for(:type => 'assistances'), :class => params[:type] == 'assistances' ? 'current' : '' }
        我的求助
      %a{ :href => url_for(:type => 'helped'), :class => params[:type] == 'helped' ? 'current' : '' }
        我帮助的       
    .zl_list
      - if @assistances.blank?
        %p{ :style => 'margin: 10px auto;' } 
          暂时没有数据...
      - else
        - @assistances.each do |assistance|
          .zl_li
            .detail
              .avatar
                %a{ :href => user_path(assistance.user) }
                  = image_tag assistance.user.avatar_url(:m), :size => '80x80'
                .action
                  - if current_user != assistance.user
                    = message_link_tag(assistance.user) 
              .content
                %a.user_name{ :href => user_path(assistance.user) }= "#{assistance.user.login}:"
                = assistance.content
                .pics
                  - unless assistance.attachments.blank?
                    - assistance.attachments.each do |attach|
                      %a{ :href => assistance_path(assistance.id) }
                        = image_tag attach.photo_url(:m)
            .status
              %abbr.timeago{ :title => assistance.created_at }
              - if assistance.address.present?
                %a{ :title => assistance.address }
                  %i.icons.icons_map
                  = assistance.address
              %a{ :href => assistance_path(assistance.id) }
                %i.icons.icons_person
                = "帮忙(#{assistance.helpers_count})"
              %a{ :href => assistance_path(assistance.id) }
                %i.icons.icons_comt
                = "评论(#{assistance.comments_count})"   
      = will_paginate(@assistances, :class => 'digg_pagination')   

