- content_for :header_js do
  = javascript_include_tag 'lib/jcrop/jquery.Jcrop.min'
- content_for :header_css do  
  = stylesheet_link_tag 'lib/jcrop/css/jquery.Jcrop.min'

.crop_avatar_form_panel
  = render 'shared/flash_notice'
  .current_avatar
    .div-name
      拖动选择框以选择截取范围
    .avatar_img
      = image_tag current_user.avatar.url, :id => 'cropImage'
  .crop_avatar
    = form_tag crop_avatar_path, :id => 'settingForm' do
      .div-name
        预览
      .preview_panel{ :style => 'width:180px; height:180px; overflow:hidden;' }
        = image_tag current_user.avatar.url, :id => 'previewImage'
        = text_field_tag 'crop_position'
      .buttons
        %a.button.submit{ :href => 'javascript:;' } 确定
        %a.button.gray{ :href => setting_avatar_path } 取消

:javascript
  var jcrop_api, boundx, boundy;
  $('#cropImage').Jcrop({
    onChange : updatePreview,
    onSelect : updatePreview,
    aspectRatio : 1,
    minSize : [180, 180],
    maxSize : [300, 300],
    bgFade : true,
    setSelect : [54, 37, 180, 180]
    }, function(){
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      jcrop_api = this;
  });

  function updatePreview (c) {
    var rx = 180 / c.w, ry = 180 / c.h;
    $('#previewImage').css({
      width : Math.round(rx * boundx) + 'px',
      height : Math.round(ry * boundy) + 'px',
      marginLeft: '-' + Math.round(rx * c.x) + 'px',
      marginTop: '-' + Math.round(ry * c.y) + 'px'
    });
    var crop_position = [c.x, c.y, c.w, c.h];
    $('#crop_position').val(crop_position);     
  };  