.user_dialogs
  .title
    我的私信
    %a.action
      = "共 #{@dialogs.count} 组私信"
  .dialog_list
    - if @dialogs.present?
      - @dialogs.each do |dialog|
        .dialog
          .user
            .avatar
              %a{ :href => user_path(dialog.from_user_id), :title => dialog.from_user.login }
                = image_tag dialog.from_user.avatar_url(:c), :size => '50x50'
            / .user_name

            /   %a{ :href => user_path(dialog.from_user_id) }= dialog.from_user.login 
          .info
            .dialog_content
              - unless dialog.unread_count(current_user.id).zero?
                %p.unread_count
                  %span= "#{dialog.unread_count(current_user.id)} 条新私信"
              %p
                %a.user_name{ :href => user_path(dialog.messages.last.sender_id) }= "#{dialog.last_reply_user_login}:"
                = dialog.messages.first.content
            .actions
              %abbr.timeago{ :title => dialog.messages.first.created_at }
              %a{ :href => dialog_path(dialog) }= "共 #{dialog.messages_count} 条"
              %a{ :href => dialog_path(dialog) } 回复
              %a{ :href => '#' } 删除
    - else
      %p.alignmid
        暂时没有任何私信。

