- content_for :header_js do
  = javascript_include_tag 'dialog'

.user_dialog_show.readDialog{ 'data-dialog_id' => @dialog.id }
  = form_tag send_message_dialogs_path(:to_user_id => @dialog.from_user_id), :id => 'newMessageForm' do
    .new_message_form
      %textarea.form_text{ :name => 'content' }
      .tools
      %a.button.submit{ :href => 'javascript:;' } 回复 TA

  .message_list
    .title
      = "我 与 #{@dialog.from_user.login} 的私信"
      %a.action{ :href => dialogs_path }
        返回所有        
      %a.action
        = "共 #{@dialog.messages_count} 条"
      
    .message
      - @messages.each do |message|
        .mode{ :class => current_user.id == message.sender_id ? 'right_mode' : 'left_mode' }
          .timeline
            %abbr.timeago{ :title => message.created_at }
          .avatar
            - if current_user.id == message.sender_id
              %a{ :href => user_path(current_user.id), :title => '我', :rel => 'tipsy' }
                = image_tag current_user.avatar.url(:s), :size => '30x30'
            - else
              %a{ :href => user_path( @dialog.from_user_id), :title => @dialog.from_user.login, :rel => 'tipsy' }
                = image_tag @dialog.from_user.avatar.url(:s), :size => '30x30'
          .content
            %p
              = message.content
              / %a{ :href => '#' } 删除
      = will_paginate @messages, :class => 'digg_pagination'