<!DOCTYPE html>
%html
  %head
    = render_page_title
    = stylesheet_link_tag 'application', 'assistance'
    = yield :header_css
    = javascript_include_tag 'app', 'assistance'
    = yield :header_js
    = csrf_meta_tags
    %meta{ :name => 'keywords', :content => @keywords }
    %meta{ :name => 'description', :content => @description }
    %link{ :href => image_path('favicon.ico'), :rel => 'shortcut icon', :type => 'image/vnd.microsoft.icon' }
    /Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if IE 9]
      %script{ :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
  %body
    = render 'layouts/shared/site_header'
    .main-container
      .container
        .left-container
          = yield                                                                                        
        .right-container
          .user_info
            .avatar
              %a{ :href => user_path(@user.id) }
                = image_tag @user.avatar_url(:m), :size => '80x80'

              / .message
              /   - if current_user != @user
              /     = message_link_tag(@user)
            .info
              .user_name
                %a{ :href => user_path(@user.id) }= @user.login
                - if current_user != @user
                  = message_link_tag(@user)                   
              .address
                = @user.address
              .signature
                = @user.tagline
                                
          .help_them
            .title
              TA的其他求助
              %a.action{ :href => user_path(@user.id) } 更多
            .ask_for_help
              - @user.assistances.sample(5).each do |assistance|
                .help_li
                  .avatar
                    = image_tag @user.avatar_url(:c), :size => '50x50'
                  .summary
                    .user_name
                      %a{ :href => user_path(@user.id) }= @user.login
                    .wants
                      %a{ :href => assistance_path(assistance.id), :title => assistance.content, :rel => 'tipsy' }
                        = assistance.content.truncate(50)

                    

    = render 'layouts/shared/site_footer'
    = render 'shared/google_analytics'