<!DOCTYPE html>
%html
  %head
    %title 助乐 - 帮助别人，快乐自己！
    = stylesheet_link_tag 'application', 'profile'
    = yield :header_css
    = javascript_include_tag 'app', 'profile'
    = yield :header_js
    = csrf_meta_tags
    %meta{ :name => 'keywords', :content => '帮助别人，快乐自己' }
    %meta{ :name => 'description', :content => '帮助别人，快乐自己' }
    /Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if IE 9]
      %script{ :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
  %body
    = render 'layouts/shared/site_header'
    .main-container
      .container
        .left-container
          = yield
        .right-container
          .good_at
            .title
              擅长于
              %a.action 更多
            .category_list
              - @user.tags.each do |tag|
                %a{ :href => '#' }= tag         
          .help_them
            .title
              帮帮他们吧
              %a.action{ :href => home_path } 更多
            .ask_for_help
              - Assistance.includes(:user).limit(10).sample(5).each do |assistance|
                .help_li
                  .avatar{ :title => assistance.user.login, :rel => 'tipsy' }
                    = image_tag assistance.user.avatar_url(:c), :size => '50x50'
                  .summary
                    .user_name
                      %a{ :href => user_path(assistance.user_id), :title => assistance.user.login }= assistance.user.login
                      / %a.action{ :href => '#' }
                      /   %i.icons.icons_person
                      /   帮她
                    .wants
                      %a{ :href => assistance_path(assistance.id), :title => assistance.content, :rel => 'tipsy' }
                        = assistance.content.truncate(50)

          .talent
            .title
              热心达人
              %a.action 更多
            .talent_list
              - User.limit(30).sample(15).each do |user|
                %a{ :href => user_path(user.id), :title => user.login, :rel => 'tipsy' }
                  = image_tag user.avatar_url(:c), :size => '50x50'


    = render 'layouts/shared/site_footer'